@font-face {
	font-family: Kanit;
	src: url(../fonts/Kanit-Regular.ttf);
}

:root {
	--mb: 5vh;
	--pd: 2vh;
	--br: 10px;
	--english-violet: #6b4e71ff;
	--charcoal: #3a4454ff;
	--paynes-gray: #53687eff;
	--misty-rose: #f5ddddff;
	--french-grey: #cdc0c6;
}

/* GLOBAL SETTINGS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Kanit, sans-serif;
	color: var(--charcoal);
	background-color: var(--misty-rose);
}

h1 {
	text-align: center;
	text-shadow: 1px -1px 2.5px var(--paynes-gray);
	margin-bottom: var(--mb);
	font-size: 4vw;
}

h2 {
	font-size: 2vw;
}

h3 {
	font-size: 3vw;
}

p {
	font-size: 1.5vw;
}
a {
	text-decoration: none;
	color: var(--paynes-gray);
}

footer p,
footer a {
	font-size: 1vw;
}

div,
.reset {
	font-size: 1.5vw;
}

label {
	font-size: 1.5vw;
}

img {
	width: 8vw;
	height: auto;
}

/* WRAPPER  */
.wrapper {
	padding: 0 var(--mb);
	min-height: 100vh;
}

/* H1 Animation */
.rotate span {
	display: inline-flex;
	animation: rotate 8s linear 1;
}
@keyframes rotate {
	0%,
	75% {
		transform: rotateY(360deg);
	}
}
header span:nth-of-type(1) {
	animation-delay: 0.4s;
}
header span:nth-of-type(2) {
	animation-delay: 0.8s;
}
header span:nth-of-type(3) {
	animation-delay: 1.2s;
}
header span:nth-of-type(4) {
	animation-delay: 1.6s;
}
header span:nth-of-type(5) {
	animation-delay: 2s;
}
header span:nth-of-type(6) {
	animation-delay: 2.4s;
}
header span:nth-of-type(7) {
	animation-delay: 2.8s;
}
header span:nth-of-type(8) {
	animation-delay: 3.2s;
}
header span:nth-of-type(9) {
	animation-delay: 3.6s;
}
header span:nth-of-type(10) {
	animation-delay: 4s;
}
header span:nth-of-type(11) {
	animation-delay: 4.4s;
}
header span:nth-of-type(12) {
	animation-delay: 4.8s;
}
header span:nth-of-type(13) {
	animation-delay: 5.2s;
}
header span:nth-of-type(14) {
	animation-delay: 5.6s;
}
header span:nth-of-type(15) {
	animation-delay: 6s;
}
header span:nth-of-type(16) {
	animation-delay: 6.4s;
}
header span:nth-of-type(17) {
	animation-delay: 6.8s;
}
header span:nth-of-type(18) {
	animation-delay: 7.2s;
}
header span:nth-of-type(19) {
	animation-delay: 7.6s;
}

/* MAIN */
main {
	display: flex;
	justify-content: center;
}

form {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Section "Wie viele Runden" */
.count-rounds {
	background-color: var(--french-grey);
	border: 2px solid var(--charcoal);
	border-radius: var(--br);
	margin-bottom: var(--mb);
	padding: var(--pd);
	text-align: center;
	transition: box-shadow 0.4s ease-in-out;
}

.count-rounds:hover {
	box-shadow: 1px -1px 10px var(--paynes-gray);
}

.runden-anzeige {
	display: none;
}

.runden-anzahl {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="radio"] {
	margin: 0 0.6vh 0 var(--pd);
	transform: scale(1.25);
}

/* Section Spielstand */
.score-board {
	width: 50%;
	padding: var(--pd);
	margin-bottom: var(--mb);
	border: 2px solid var(--charcoal);
	border-radius: var(--br);
	background-color: var(--french-grey);
	text-align: center;
}

.tag {
	margin-top: -0.5%;
	display: inline-block;
	background-color: var(--english-violet);
	color: var(--misty-rose);
	padding: 0.5%;
	border: 2px solid var(--charcoal);
	border-radius: var(--br);
}
.spieler {
	position: absolute;
	left: 29%;
}

.computer {
	position: absolute;
	right: 28%;
}
article div {
	display: inline;
}

/* Section "Lass uns spielen" */
.action-output {
	margin-bottom: var(--mb);
}

/* Section Schere Stein Papier Buttons */
.choices {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 1vh;
}

.choices button {
	background-color: white;
	width: 12vw;
	height: 12vw;
	display: inline-block;
	border-radius: 50%;
	border: 2px solid var(--charcoal);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease-in-out;
}

.choices button:hover {
	cursor: pointer;
	transform: scale(1.025);
	box-shadow: 1px -1px 10px var(--paynes-gray);
}

.reset {
	align-self: flex-end;
	padding: var(--pd);
	border: 2px solid var(--charcoal);
	border-radius: var(--br);
	background-color: var(--paynes-gray);
	color: var(--misty-rose);
	transition: 0.4s ease-in-out;
}

.reset:hover {
	cursor: pointer;
	box-shadow: 1px -1px 10px var(--paynes-gray);
	transform: scale(1.01);
	background-color: var(--english-violet);
	color: var(--misty-rose);
}

@keyframes red {
	0% {
		border: 2px solid var(--charcoal);
	}
	25% {
		border: 2px solid red;
		box-shadow: 2px 2px 20px red;
	}
	100% {
		border: 2px solid var(--charcoal);
	}
}

@keyframes green {
	0% {
		border: 2px solid var(--charcoal);
	}
	25% {
		border: 2px solid green;
		box-shadow: 2px 2px 20px green;
	}
	100% {
		border: 2px solid var(--charcoal);
	}
}
@keyframes orange {
	0% {
		border: 2px solid var(--charcoal);
	}
	25% {
		border: 2px solid orange;
		box-shadow: 2px 2px 20px orange;
	}
	100% {
		border: 2px solid var(--charcoal);
	}
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}
